.shopping-cart {
  &__items {
    padding: 15px 0 30px;
    border-bottom: 1px solid $light;

    .table__cart {
      font-size: 12px;

      thead {
        th {
          &:first-child {
            text-align: left;
          }
        }
      }

      tbody {
        td {
          border: 1px solid rgba($light, 0.5);
          text-align: center;

          &:nth-child(2) {
            text-align: left;
          }

          &:first-child {
            padding: 5px;
            width: 60px;
          }
        }
      }

      tfoot {
        td {
          border: 1px solid rgba($light, 0.5);
        }
      }

      .item__image {
        display: block;
        width: 60px;
        height: 60px;
        position: relative;
        border: 1px solid rgba($light, 0.5);
        transition: 0.15s ease-in-out;
        border-radius: 4px;
        overflow: hidden;
        background-color: $white;
        box-sizing: border-box;

        &:hover {
          border-color: $green;

          img {
            opacity: 0.5;
          }
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          box-sizing: border-box;
          padding: 2px;
          transition: 0.15s ease-in-out;
          background-color: $white;
        }
      }

      .item__title {
        font-size: 14px;
        line-height: 1;
      }

      .item__meta {
        display: block;
        font-size: 10px;
        line-height: 1.2;

        span {
          display: inline-block;
          margin-right: 10px;
          white-space: nowrap;

          strong {
            color: $dark;
          }
        }
      }

      .form__quantity {
        display: inline-flex;
        padding: 0;
      }

      .item__price {
        white-space: nowrap;
        font-weight: 500;
        color: $dark;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
      }

      .item__total {
        white-space: nowrap;
        font-weight: 700;
        color: $dark;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
      }

      button.delete {
        width: 32px;
        height: 32px;
        font-size: 18px;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        background-color: transparent;
        color: $red;
        cursor: pointer;
        transition: 0.15s ease-in-out;

        &:hover {
          opacity: 0.75;
        }
        &:active {
          color: $dark;
          opacity: 1;
        }
      }

      .cupon__form {
        display: inline-block;
        width: 100%;
        padding: 15px;
        box-sizing: border-box;

        h4 {
          font-size: 14px;
          line-height: 1;
          margin: 0 0 5px;
        }
      }

      .summary {
        &__label {
          text-align: right;
          color: $gray;
          font-weight: 500;
          font-size: 12px;
          line-height: 1;
          &.total {
            font-size: 16px;
          }
        }
        &__value {
          text-align: left;
          font-weight: 700;
          color: $dark;
          font-size: 14px;
          line-height: 1;

          span {
            display: block;
            white-space: nowrap;
            padding: 10px;
          }

          &.total {
            font-size: 18px;
            padding: 15px 10px;
          }
        }
      }

      @include tabletScreenDown {
        .item__meta {
          display: none;
        }
      }

      @include smallScreenDown {
        display: block;
        border: 0;

        thead {
          display: none;
        }
        tbody {
          display: block;
          th,
          td {
            border: 0;
            display: block;
          }
        }

        tbody tr {
          border: 1px solid rgba($light, 0.5);
          margin-bottom: 2px;
          position: relative;
          padding: 10px 0;
          display: block;

          td {
            width: 100%;
            text-align: center;

            &:first-child,
            &:nth-child(2) {
              text-align: center;
              width: 100%;
            }

            &:last-child {
              padding: 0;
              flex: none;
              position: absolute;
              top: 0;
              right: 0;
              width: auto;
            }
          }
        }

        .item__image {
          display: block;
          margin: 0 auto;
        }

        tfoot {
          width: 100%;
          display: block;
          box-sizing: border-box;
          border-bottom: 1px solid rgba($light, 0.5);

          tr {
            display: block;
            margin-bottom: -1px;

            td {
              display: block;
              border-bottom: 0;
            }
          }
        }

        .summary__value {
          text-align: right;
          padding: 10px;

          span {
            padding: 0;
          }
        }

        .cupon__form {
          text-align: center;
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    .actions__left {
      flex: 1;

      .btn {
        margin-right: 15px;
      }
    }

    @include smallScreenDown {
      display: block;
      text-align: center;

      .actions__left {
        margin-bottom: 15px;

        .btn {
          margin: 0 5px;
        }
      }
    }

    @include mobileScreen {
      .actions__left {
        margin: 0;

        .btn {
          margin: 0 0 15px;
          width: 100%;
          box-sizing: border-box;
        }
      }
      .actions__right .btn {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

.checkout {
  &__form {
    padding: 15px 0 30px;
    border-bottom: 1px solid $light;

    fieldset {
      padding: 15px 0 0;
      border: 0;
      border-top: 1px solid $light;

      &:last-child {
        margin-bottom: 30px;
      }

      legend {
        font-size: 10px;
        font-weight: 600;
        color: $dark;
        text-transform: uppercase;
      }
    }

    .form__checkbox .text {
      font-size: 14px;
      color: $dark;
      padding: 0;

      small {
        display: block;
        line-height: 1;
        font-size: 10px;
        opacity: 0.5;
      }
    }

    &__summary {
      border: 1px solid $light;
      margin: 0 0 30px;
      border-radius: 15px;
      padding: 15px;
      text-align: center;

      h4 {
        font-size: 24px;
        line-height: 1;
        text-transform: uppercase;
        margin: 0 0 15px;

        span {
          display: block;
          opacity: 0.5;
          font-size: 12px;
          padding-top: 5px;
        }
      }

      ul {
        margin: 0 0 15px;
        padding: 0;
        list-style: none;
        position: relative;

        &:after {
          position: absolute;
          content: '';
          display: block;
          left: 50%;
          top: 0;
          width: 1px;
          height: 100%;
          background-color: rgba($light, 0.5);
        }

        li {
          display: flex;
          align-items: baseline;
          padding: 10px 0;

          span,
          strong {
            flex: none;
            width: 50%;
            display: block;
            box-sizing: border-box;
            line-height: 1;
          }
          span {
            padding-right: 10px;
            text-align: right;
            font-size: 11px;
            text-transform: uppercase;
          }
          strong {
            padding-left: 10px;
            text-align: left;
            font-size: 13px;
            color: $dark;

            small {
              margin-left: 1em;
            }
          }

          &.total strong {
            font-size: 16px;
          }
        }
      }

      .checkout__summary {
        margin-bottom: 15px;
        span,
        strong {
          display: block;
          line-height: 1;
        }

        span {
          font-size: 12px;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
        strong {
          color: $red;
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }
}
