.contacts {
  &__info {
    padding: 30px 0 0;

    &__header {
      text-align: center;
      margin-bottom: 30px;

      img {
        display: block;
        width: 160px;
        height: 160px;
        margin: 0 auto 15px;
      }

      a {
        color: $dark;
        text-decoration: none;
        font-size: 14px;
        line-height: 30px;
        font-weight: 500;

        &.big-phone {
          font-size: 24px;
        }

        .icon,
        span {
          display: inline-block;
          vertical-align: middle;
        }

        .icon {
          color: $green;
          width: 1em;
          height: 1em;
          margin-right: 0.5em;
        }
      }
    }

    &__main,
    &__contabil {
      margin-bottom: 30px;

      h3 {
        color: $dark;
        font-size: 16px;
        line-height: 1;
        margin: 0 0 15px;
        text-transform: uppercase;
        font-weight: 500;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 14px;
        line-height: 24px;

        li {
          padding: 4px 0;
        }
      }
    }

    &__main ul li {
      .contact {
        display: flex;
        align-items: flex-start;

        .icon {
          flex: none;
          margin-right: 0.5em;
          display: block;
          height: 24px;
          color: $green;
        }
      }

      a {
        color: currentColor;
        text-decoration: none;

        &:hover {
          color: $teal;
        }
      }
    }

    &__contabil ul li {
      padding: 3px 0;
      font-size: 12px;

      a {
        font-size: 14px;
        color: $teal;
        text-decoration: none;
        &:hover {
          color: $dark;
        }
      }
    }
  }

  &__map {
    padding: 4px 0;
    background-color: $white;
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;

    #gmap {
      width: 100%;
      height: 480px;

      div.gmnoprint,
      div.gmnoscreen {
        display: none;
      }

      img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"], img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5_hdpi.png"] {
        display: none;
      }
    }

    .firstHeading {
      font-weight: 500;
      color: $dark;
      margin: 0 0 5px;
      font-size: 14px;
    }

    p {
      margin: 0;
      font-size: 12px;
      line-height: 15px;
      margin: 0;
    }
  }

  &__form {
    border-bottom: 1px solid $light;
    &__header {
      position: relative;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 1;
      padding-bottom: 20px;
      margin: 0 0 30px;
      color: $black;
      text-align: center;

      &:after,
      &:before {
        content: '';
        display: block;
        height: 1px;
        background-color: currentColor;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }

      &:after {
        width: 100px;
        margin-top: -5px;
      }
      &:before {
        width: 180px;
      }
    }

    .form__footer {
      display: flex;
      align-items: center;
      &__left {
        flex: 1;
        padding-right: 30px;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  @include tabletScreenDown {
    &__info {
      &__main,
      &__contabil {
        text-align: center;
        ul {
          display: inline-block;
        }
      }
    }
  }
}
