extends layouts/default
block VARIABLES
  - var title = 'Вентиляция'
  - var page = 'catalog--item'
block CONTENT
  // breadcrumbs
  .breadcrumbs
    .container
      ul.vmenu
        li.vmenu__item.first: a.vmenu__link(href="")
          svg.icon: use(xlink:href="img/sprite.svg#icon-home")
          span Главная
        li.vmenu__item.first: a.vmenu__link(href="") Монтажные элементы
        li.vmenu__item.first: a.vmenu__link(href="") Решетки и диффузоры
        li.vmenu__item.last: span Решетки настенные однорядные
  // Base Content
  .catalog--item__intro
    .container
      .row
        .col.sm-5.md-4
          .swiper-container.gallery-top
            .swiper-wrapper
              .swiper-slide: .swiper-slide-image: img(src="tmp/shop_item_thumb_1.png", alt="")
              .swiper-slide: .swiper-slide-image: img(src="tmp/shop_item_thumb_2.png", alt="")
              .swiper-slide: .swiper-slide-image: img(src="tmp/shop_item_thumb_3.png", alt="")
              .swiper-slide: .swiper-slide-image: img(src="tmp/shop_item_thumb_4.png", alt="")
          .swiper-container.gallery-thumbs
            .swiper-wrapper
              .swiper-slide: img(src="tmp/shop_item_thumb_1.png", alt="")
              .swiper-slide: img(src="tmp/shop_item_thumb_2.png", alt="")
              .swiper-slide: img(src="tmp/shop_item_thumb_3.png", alt="")
              .swiper-slide: img(src="tmp/shop_item_thumb_4.png", alt="")
            // Add Arrows
            .gallery-next: .link: svg.icon: use(xlink:href="img/sprite.svg#next")
            .gallery-prev: .link: svg.icon: use(xlink:href="img/sprite.svg#prev")
        .col.sm-7.md-8.lg-5
          .item__cart
            h1.item-title Решетки настенные однорядные
            .item-meta
              .item-meta__id 
                span Артикул: 
                strong 123456
              .item-meta__brand: a(href="") Название бренда
            .item-description Решетка настенная, однорядная 2535-1. Вентиляционная решетка настенного типа, выполненная из качественного металла, и в базовом варианте окрашена белым цветом. 
            .item-skus(data-skus-resize)
              .item-skus__current
                span.label Выберите размер 
                span.sku-width Ширина: <strong>350</strong> 
                span.sku-height Высота: <strong>350</strong> 
              .sku-width__range
              .sku-height__range
            .item-purchase
              .row
                .col.xs-6
                  .item__price
                    .value 1250.00
                    .value__old 1250.00
                    .currency mdl

                .col.xs-6
                  .instock.text__teal Есть в наличии
                  //.instock.text__red Нет в наличии
                  .form__quantity
                    label.form__quantity__minus: svg.icon: use(xlink:href="img/sprite.svg#icon-minus")
                    input(type="number", name="quantity", value="1", min="1", max="10", step="1")
                    label.form__quantity__plus: svg.icon: use(xlink:href="img/sprite.svg#icon-plus")
            .item__actions
              button.btn.btn-accent(data-modal="#credit-form") купить в кредит
              button.btn.btn-primary.add-to-basket в корзину
        .col.lg-3
          .similar-products
            h4: span похожие товары
            .swiper-container.similar
              .swiper-wrapper
                .swiper-slide
                  a(href="").similar__item
                    span.similar__item__image: img(src="tmp/shop_item_thumb_1.png", alt="")
                    span.similar__item__text
                      span.title Решетки настенные однорядные
                      span.price 1756 mdl 
                .swiper-slide
                  a(href="").similar__item
                    .similar__item__image: img(src="tmp/shop_item_thumb_2.png", alt="")
                    .similar__item__text
                      span.title Решетки настенные однорядные
                      span.price 1756 mdl 
                .swiper-slide
                  a(href="").similar__item
                    .similar__item__image: img(src="tmp/shop_item_thumb_3.png", alt="")
                    .similar__item__text
                      span.title Решетки настенные однорядные
                      span.price 1756 mdl 
                .swiper-slide
                  a(href="").similar__item
                    .similar__item__image: img(src="tmp/shop_item_thumb_4.png", alt="")
                    .similar__item__text
                      span.title Решетки настенные однорядные
                      span.price 1756 mdl 
              .similar__pagination
  .catalog--item__full
    .container
      ul.tab-list(role='tablist')
        li.tab-list__item.active(role='presentation')
          a.tab-list__link(href='#description' data-toggle='tab') описание
        li.tab-list__item(role='presentation')
          a.tab-list__link(href='#params' data-toggle='tab') характеристики
      // Tab panes
      .tab-content
        #description.tab-pane.fade.active.in(role='tabpanel')
          h3 Назначение
          p Решетка настенная, однорядная 2535-1. Вентиляционная решетка настенного типа, выполненная из качественного металла, и в базовом варианте окрашена белым цветом. Жалюзи в данной решетке регулируемые и могут менять угол наклона в зависимости от назначения. Решетка PB 2535-1 в исполнении PB 2535-1П, представляет собой вентиляционную решетку однорядную переточную, в которой жалюзи закреплены. 
          h3 Материал
          p Решетки 2535-1 изготавливаются из высококачественных алюминиевых профилей и окрашиваются порошковыми красками по каталогу RAL или с анодно-оксидным покрытием, что позволяет использовать в неблагоприятных условиях. 
          h3 Изготовление
          p По посадочным размерам L*H с шагом 5мм. При размере L больше 550мм применяется разделительный профиль. Заказать решетки на клапаны дымоудаления возможно у менеджера по телефону (022) 123 456, либо онлайн на Ventbazar.com.ua кликнув нужный размер в таблице с размерами ниже!
        #params.tab-pane.fade(role='tabpanel')
          table.table
            thead
              tr
                th характеристика
                th значение
            tbody
              -for(i=1;i<=3;i++)
                tr
                  td Lorem ipsum dolor sit amet.
                  td: span.text__green Да
                tr
                  td Lorem ipsum dolor consectetur adipisicing elit.
                  td: span.text__red Нет
                tr
                  td Sit amet consectetur adipisicing elit.
                  td: span.text__gray Не указано
                tr
                  td Sit amet consectetur adipisicing elit.
                  td: span.text__orange Важное
                tr
                  td Sit amet consectetur adipisicing elit.
                  td Простой текст
                tr
                  td Lorem ipsum dolor elit.
                  td: a(href="") ссылка например бренд
  #credit-form.modal
    h3.modal__title Выберите кредитную линию!
    form(action="").form.mb-30
      .row
        .col.sm-4: .credit__checkbox
          input#credit_type1(type="radio", name="credit_type", value="1", checked)
          label(for="credit_type1")
            span.value 1135
              small леев в месяц
            span.start 0
              small леев предоплаты
            span.period 6 месяцев
              small срок кредита
            span.input: svg.icon: use(xlink:href="img/sprite.svg#icon-credit")
        .col.sm-4: .credit__checkbox
          input#credit_type2(type="radio", name="credit_type", value="2")
          label(for="credit_type2")
            span.value 641
              small леев в месяц
            span.start 0
              small леев предоплаты
            span.period 12 месяцев
              small срок кредита
            span.input: svg.icon: use(xlink:href="img/sprite.svg#icon-credit")
        .col.sm-4: .credit__checkbox
          input#credit_type3(type="radio", name="credit_type", value="3")
          label(for="credit_type3")
            span.value 395
              small леев в месяц
            span.start 0
              small леев предоплаты
            span.period 24 месяца
              small срок кредита
            span.input: svg.icon: use(xlink:href="img/sprite.svg#icon-credit")
      p.text__center Оставьте нам свои контактные данные или позвоните по телефону <a href="tel:069 777 383">069 777 383</a>
      .row
        .col.sm-4: .form__input: input(type="text", placeholder="Имя *", required, name="credit_name")
        .col.sm-4: .form__input: .form__input: input(type="email", placeholder="e-Mail *", required, name="credit_email")
        .col.sm-4: .form__input: button(type="submit").btn.block.btn-accent отправить заявку
  include components/home__popular
