extends layouts/default
block VARIABLES
  - var title = 'Вентиляция'
  - var description = 'Важность вентиляции для организма не требует доказательств.<br>Одним из элементов воздуха является кислород, который жизненно необходим нашему организму.'
  - var page = 'catalog'
block CONTENT
  // breadcrumbs
  .breadcrumbs
    .container
      ul.vmenu
        li.vmenu__item.first: a.vmenu__link(href="")
          svg.icon: use(xlink:href="#icon-home")
          span Главная
        li.vmenu__item.last: span=title
  // Base Content
  .catalog__wraper
    .container
      .row
        .col.lg-3.md-4
          include components/catalog-filters
        .col.lg-9.md-8
          .catalog__image: img(src="tmp/category_img.png", alt="")
          .catalog__list
            .catalog__list__sort
              .sort-left
                ul.view-layout
                  li: a(href=""): svg.icon: use(xlink:href="#icon-grid")
                  li: a(href="").current: svg.icon: use(xlink:href="#icon-list")
              .sort-right
                select#sort(name="sort" style="width:160px")
                  option(value="newlest") Вначале новые
                  option(value="newlest") Вначале популярные
                  option(value="newlest") Вначале подешевле
                  option(value="newlest") Вначале подороже
            -for(i=1;i<=3;i++)
              .list__item
                  a(href="").item__image
                    img(src="tmp/shop_item_thumb_1.png", alt="")
                    span.overlay: svg.icon: use(xlink:href="#icon-readmore")
                  .item__body
                    .item__text
                      .item__title: a(href="") Ther products name demo
                      .item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    .item__action
                      .item__action__left
                        .item__price
                          .value 1250.00
                          .currency mdl
                      .item__action__center
                        .form__quantity
                          label.form__quantity__minus: svg.icon: use(xlink:href="#icon-minus")
                          input(type="number", name="quantity", value="1", min="1", max="10", step="1")
                          label.form__quantity__plus: svg.icon: use(xlink:href="#icon-plus")
                      .item__action__right: button.btn.add-to-basket в корзину
              .list__item
                  a(href="").item__image
                    img(src="tmp/shop_item_thumb_1.png", alt="")
                    span.overlay: svg.icon: use(xlink:href="#icon-readmore")
                  .item__body
                    .item__text
                      .item__title: a(href="") Ther products name demo
                      .item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    .item__action
                      .item__action__left
                        .item__price.action
                          .value 1250.00
                          .value__old 1250.00
                          .currency mdl
                      .item__action__center
                        .form__quantity
                          label.form__quantity__minus: svg.icon: use(xlink:href="#icon-minus")
                          input(type="number", name="quantity", value="1", min="1", max="10", step="1")
                          label.form__quantity__plus: svg.icon: use(xlink:href="#icon-plus")
                      .item__action__right: button.btn.add-to-basket в корзину
              .list__item
                  a(href="").item__image
                    img(src="tmp/shop_item_noimage.png", alt="")
                    span.overlay: svg.icon: use(xlink:href="#icon-readmore")
                  .item__body
                    .item__text
                      .item__title: a(href="") Ther products name demo
                      .item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    .item__action
                      .item__action__left
                        .item__price
                          .value 1250.00
                          .currency mdl
                      .item__action__center
                        .form__quantity
                          label.form__quantity__minus: svg.icon: use(xlink:href="#icon-minus")
                          input(type="number", name="quantity", value="1", min="1", max="10", step="1")
                          label.form__quantity__plus: svg.icon: use(xlink:href="#icon-plus")
                      .item__action__right: button.btn.add-to-basket в корзину
              .list__item.out-of-stock
                  a(href="").item__image
                    img(src="tmp/shop_item_thumb_1.png", alt="")
                    span.overlay: svg.icon: use(xlink:href="#icon-readmore")
                  .item__body
                    .item__text
                      .item__title: a(href="") Ther products name demo
                      .item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    .item__action
                      .item__action__left
                        .item__price
                          .value 1250.00
                          .currency mdl
                      .item__action__center
                        .form__quantity
                          label.form__quantity__minus: svg.icon: use(xlink:href="#icon-minus")
                          input(type="number", name="quantity", value="1", min="1", max="10", step="1")
                          label.form__quantity__plus: svg.icon: use(xlink:href="#icon-plus")
                      .item__action__right: button.btn.add-to-basket(disabled) нет в наличии
          .pagination
            .pagination__total всего <strong>1235</strong> товаров
            .pagination__nav
              ul
                li: a(href=""): svg.icon: use(xlink:href="#first")
                li: a(href=""): svg.icon: use(xlink:href="#prev")
                li: a(href="") 5
                li.current: span 6
                li: a(href="") 7
                li: a(href=""): svg.icon: use(xlink:href="#next")
                li.disabled: span: svg.icon: use(xlink:href="#last")
