extends layouts/default
block VARIABLES
  - var title = 'Главная'
  - var page = 'home'
  - var headerSlider = true
block CONTENT
  // HOME SCOPES
  .section.home__scopes
    .container
      ul.scopes__list
        li.scopes__list__item: a.scopes__list__link(href="")
          span.icon: svg: use(xlink:href="img/sprite.svg#scope-1")
          span.text Широкий ассортимент товара
        li.scopes__list__item: a.scopes__list__link(href="")
          span.icon: svg: use(xlink:href="img/sprite.svg#scope-2")
          span.text Мобильные бригады сервисного обслуживания
        li.scopes__list__item: a.scopes__list__link(href="")
          span.icon: svg: use(xlink:href="img/sprite.svg#scope-3")
          span.text Штатные монтажные бригады
        li.scopes__list__item: a.scopes__list__link(href="")
          span.icon: svg: use(xlink:href="img/sprite.svg#scope-4")
          span.text Собственный технический отдел
        li.scopes__list__item: a.scopes__list__link(href="")
          span.icon: svg: use(xlink:href="img/sprite.svg#scope-5")
          span.text качественно, удобно, выгодно и быстро
  // HOME FEAUTERED ITEMS
  .section.home__arrivals
    .container
      ul.tab-list(role='tablist')
        li.tab-list__item.active(role='presentation')
          a.tab-list__link(href='#newlest' aria-controls='newlest' role='tab' data-toggle='tab') новинки
        li.tab-list__item(role='presentation')
          a.tab-list__link(href='#hotest' aria-controls='hotest' role='tab' data-toggle='tab') хиты продаж
        li.tab-list__item(role='presentation')
          a.tab-list__link(href='#recommended' aria-controls='recommended' role='tab' data-toggle='tab') рекомендуем
      // Tab panes
      .tab-content
        #newlest.tab-pane.fade.active.in(role='tabpanel')
          .newlest.swiper-container
            include components/featured-slider
            .newlest-next: svg.icon: use(xlink:href="img/sprite.svg#next")
            .newlest-prev: svg.icon: use(xlink:href="img/sprite.svg#prev")
        #hotest.tab-pane.fade(role='tabpanel')
          .hotest.swiper-container
            include components/featured-slider
            .hotest-next: svg.icon: use(xlink:href="img/sprite.svg#next")
            .hotest-prev: svg.icon: use(xlink:href="img/sprite.svg#prev")
        #recommended.tab-pane.fade(role='tabpanel')
          .recommended.swiper-container
            include components/featured-slider
            .recommended-next: svg.icon: use(xlink:href="img/sprite.svg#next")
            .recommended-prev: svg.icon: use(xlink:href="img/sprite.svg#prev")
  .section.services
    .container
      .row
        .col.sm-6: a.services__item(href="")
          img(src="tmp/service_ballu_ru.png", alt="")
          span подробнее
        .col.sm-6: a.services__item(href="")
          img(src="tmp/service_montage_ru.png", alt="")
          span подробнее
  .section.home__sales
    .container
      h2.home__sales__header: span Акции
      .sale__item
        .sale__item__info
          .row
            .col.md-7.lg-6
              h2.item__title: a(href="") Ther products name demo
              p.item__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              .item__price
                span.current 8450 mdl
                span.old 12758 mdl
              .item__action: button.btn.add-to-basket в корзину
            .col.md-4.omd-1.lg-4.olg-2: a.item__image(href=""): img(src="tmp/shop_item_thumb_1.png", alt="")
        .sale__item__countdown#countdown
          .days
            strong
            span дней
          .hours
            strong
            span часов
          .minutes
            strong
            span минут
          .secconds
            strong
            span секунд
  include components/home__portfolio
  include components/home__popular
  .section.home__reviews
    .container
      h2.home__reviews__header: span Отзывы клиентов
      .row
        .col.md-10.lg-10.omd-1.olg-1
          .reviews.swiper-container
            .swiper-wrapper
              .swiper-slide
                .reviews__item
                  svg.icon: use(xlink:href="img/sprite.svg#icon-review")
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat...
              .swiper-slide
                .reviews__item
                  svg.icon: use(xlink:href="img/sprite.svg#icon-review")
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat...
              .swiper-slide
                .reviews__item
                  svg.icon: use(xlink:href="img/sprite.svg#icon-review")
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat...
            .reviews__dots
