extends layouts/default
block VARIABLES
  - var title = 'Услуги'
  - var page = 'blog--article'
block CONTENT
  // breadcrumbs
  .breadcrumbs
    .container
      ul.vmenu
        li.vmenu__item.first: a.vmenu__link(href="")
          svg.icon: use(xlink:href="img/sprite.svg#icon-home")
          span Главная
        li.vmenu__item.first: a.vmenu__link(href="") Услуги
        li.vmenu__item.last: span Вентиляция в частном доме
  // Base Content
  .article
    .container
      .article__header: h1 Вентиляция в частном доме
      .article__meta
        span.meta-category Категория: <a href="#">Полезная информация</a>
        span.meta-published Опубликовано: <strong>26 Апр 2019</strong>
        span.meta-author Автор: <a href="#">Trivent COM</a>
      .article__body
        h2 Зачем вообще нужна вентиляция?
        figure.left: img(src="http://placeimg.com/640/360/arch/1" alt="")
        p Ваша мечта осуществилась, у вас скоро будет или уже строится собственный загородный дом. Теплый, комфортный и любимый. Теперь настала пора задуматься о себе и своих близких, о здоровье, о чистом и свежем воздухе. Воздухе без болезней, грибка и плесени. Значит настала пора подумать о правильной вентиляции!
        p Все очень просто — вентиляция в доме нужна для того, чтобы вы и ваш дом жили долго и счастливо, чтобы в ваши спальни, кухни и гостиные поступал чистый и свежий воздух, и не через открытое окно, теряя драгоценное тепло и запуская холод, сырость и грязь, а через специально предназначенные для этого устройства — воздушные диффузоры и анемостаты. Ведь все в мире уже давно придумано и только в нашей стране об этом никому ничего не известно.
        p Мы уже 10 лет устанавливаем системы вентиляции в любые дома. Будет ли это вентиляция в деревянном доме, вентиляция в каркасном доме, вентиляция в кирпичном доме или вентиляция в доме из газоблоков — большого значение не имеет. В каждом доме есть спальня, гостиная, кухня, санузел и все эти помещения нуждаются в чистом и здоровом воздухе, а воздух — как вода и еда, без него мы просто не сможем нормально жить.
        p <strong>Кухня</strong> — помещение, где скапливаются запахи, отработанный воздух и большое количество влажного пара. Все мы проводим на кухне не один час, в итоге уровень избыточной влаги в этом помещении часто превышает 5 литров в сутки. В момент приготовления пищи очень важно как наше самочувствие, так и чистота помещения, поэтому эта часть дома заслуживает особо пристального внимания. Установка системы приточно-вытяжной вентиляции на кухне строго обязательна.
        figure: img(src="http://placeimg.com/1200/220/arch/2" alt="")
        p <strong>Санузел</strong> — помещение, где всегда повышено содержание тепла и влаги, верные спутники которых — плесень и грибок. Они начинают заводиться под ванной, под раковиной или за унитазом, т.е. во всех труднодоступных влажных местах. Ежедневный объем избыточной влаги в санузле достигает 10 литров в сутки (стирка, купание, душ и т.п.). Конденсат, влага, сырость, а с ними плесень и грибок, начинают разрушать ваш дом и сделанный ремонт, а так же убивают здоровье жильцов дома, поэтому в данном помещении необходимо устанавливать систему вентиляции также в обязательном порядке.
        p <strong>Спальня</strong> — помещение, где во время и после сна скапливается влажный и спертый воздух — причина болезней сердца, головы и легких. Человек проводит во сне в среднем по 8 часов в день, целую треть своей жизни, практически 25 из 70 лет. Во время сна один человек выделяет до 400 гр влаги, в результате чего на окнах и стенах образуется вредный конденсат. Не забудьте также и про значительное превышение уровня углекислого газа. Когда вы спите, вы не можете самостоятельно регулировать температуру, влажность и качество воздуха в помещении. Для этого также необходима система автоматической приточно-вытяжной вентиляции.
        p <strong>Гостиная</strong> — помещение, которое связано с помещениями повышенной влажности и в котором постоянно присутствуют вредные испарения от отделочных материалов. Какими бы экологичными не были используемые в отделке гостиной комнаты материалы, они все равно выделяют те или иные вредные вещества. Если воздух в помещении на меняется на свежий в течении часа, то мы на 80% становимся подвержены риску заболеть самыми страшными болезнями, среди которых слабоумие и рак. Система приточно-вытяжной вентиляции обеспечит полную смену вредоносного воздуха в положенный срок и сохранит ваше здоровье.
        ul
          li <strong>Кухня</strong> — помещение, где скапливаются запахи, отработанный воздух и большое количество влажного пара.
          li <strong>Санузел</strong> — помещение, где всегда повышено содержание тепла и влаги, верные спутники которых — плесень и грибок.
          li <strong>Спальня</strong> — помещение, где во время и после сна скапливается влажный и спертый воздух — причина болезней сердца, головы и легких.
          li <strong>Гостиная</strong> — помещение, которое связано с помещениями повышенной влажности и в котором постоянно присутствуют вредные испарения от отделочных материалов.
        p Практически все без исключения помещения в загородном доме нуждаются в постоянной качественной вентиляции, вместе со старым воздухом из помещений выводятся как все вредные микробы, пыль и грязь, так и избыточное тепло, влага и канцерогены.
        ol
          li <strong>Кухня</strong> — помещение, где скапливаются запахи, отработанный воздух и большое количество влажного пара.
          li <strong>Санузел</strong> — помещение, где всегда повышено содержание тепла и влаги, верные спутники которых — плесень и грибок.
          li <strong>Спальня</strong> — помещение, где во время и после сна скапливается влажный и спертый воздух — причина болезней сердца, головы и легких.
          li <strong>Гостиная</strong> — помещение, которое связано с помещениями повышенной влажности и в котором постоянно присутствуют вредные испарения от отделочных материалов.
        figure.right: img(src="http://placeimg.com/640/360/arch/3" alt="")
        p Практически все без исключения помещения в загородном доме нуждаются в постоянной качественной вентиляции, вместе со старым воздухом из помещений выводятся как все вредные микробы, пыль и грязь, так и избыточное тепло, влага и канцерогены.
        blockquote: p <strong class="text__red">Кстати:</strong> После установки системы приточно-вытяжной вентиляции с рекуперацией в загородном доме пропадает необходимость в постоянной уборке пыли, система выводит до 98% пыли и грязи из помещения. Кроме этого, ваши затраты на отопление дома снижаются в 5 (!) раз. Про свежий чистый воздух мы даже не говорим...
  .section.solutions
    .container
      .row
        .col.lg-10.olg-1
          h2.solutions__header Готовые решения
          p Мы предлагаем лучшее готовое решение для вашего дома — установку системы, в которой совмещены отопление, вентиляция и охлаждение воздуха. В результате в современном доме, достаточно герметичном и утепленном, с успехом можно проживать круглогодично, без водяного отопления и газа.
      .row.solutions__list
        .col.md-4.sm-6: .solutions__list__item
          .item__icon: svg.icon: use(xlink:href="img/sprite.svg#solution-1")
          .item__title Небольшие загородные дома
          .item__description Площадь дома 80-150 кв.м.
          .item__progress
            span Производительность
            .progress
              small 60%
              .progress__value(style='width:60%')
          .item__progress
            span Защита от шума
            .progress
              small 95%
              .progress__value(style='width:95%')
          .item__progress
            span Объём воздуха
            .progress
              small 70%
              .progress__value(style='width:70%')
          .item__action: a(href="").btn подробнее
        .col.md-4.sm-6: .solutions__list__item
          .item__icon: svg.icon: use(xlink:href="img/sprite.svg#solution-2")
          .item__title Средние загородные дома
          .item__description площадь дома 150-200 кв.м.
          .item__progress
            span Производительность
            .progress
              small 70%
              .progress__value(style='width:70%')
          .item__progress
            span Защита от шума
            .progress
              small 95%
              .progress__value(style='width:95%')
          .item__progress
            span Объём воздуха
            .progress
              small 80%
              .progress__value(style='width:80%')
          .item__action: a(href="").btn подробнее
        .col.md-4.sm-6: .solutions__list__item
          .item__icon: svg.icon: use(xlink:href="img/sprite.svg#solution-3")
          .item__title Большие загородные дома
          .item__description  площадь дома 200-300 кв.м.
          .item__progress
            span Производительность
            .progress
              small 80%
              .progress__value(style='width:80%')
          .item__progress
            span Защита от шума
            .progress
              small 95%
              .progress__value(style='width:95%')
          .item__progress
            span Объём воздуха
            .progress
              small 90%
              .progress__value(style='width:90%')
          .item__action: a(href="").btn подробнее
      .solutions__footer
        p: strong Если у вас есть проект дома, то отправьте его нам
        button.btn.btn-accent.lg(data-modal="#calc-form")
          svg.icon: use(xlink:href="img/sprite.svg#icon-calculator")
          span Расчет стоимости


  include components/home__portfolio
