$colorAmount: 5%;

$white: #ffffff;
$black: #212120;

$lime: #a4c400;
$green: #60a917;
$emerald: #008a00;
$teal: #00aba9;
$cyan: #1ba1e2;
$blue: #3e65ff;
$cobalt: #0050ef;
$indigo: #6a00ff;
$violet: #aa00ff;
$pink: #f472d0;
$magenta: #d80073;
$crimson: #a20025;
$red: #e51400;
$orange: #fa6800;
$amber: #f0a30a;
$yellow: #e3c800;
$brown: #825a2c;
$olive: #6d8764;
$steel: #647687;
$mauve: #76608a;
$taupe: #87794e;
$sienna: #a0522d;
$grey: #a0a1a7;
$light_grey: #f1f1f1;

$background: #f9f9f9;
$text: #383a42;

$link: $steel;
$link_hover: $mauve;
