html,
body {
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(black, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  background-color: $white;
  color: $gray;
}

.trv {
  display: flex;
  flex-direction: column;

  &-header,
  &-footer {
    flex: none;
  }
  &-content {
    flex: 1;
  }
}

.vmenu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    list-style: none;
  }
}

.hmenu {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    list-style: none;
    border-bottom: 1px solid rgba($light, 0.5);

    &:last-child {
      border-bottom: 0;
    }
  }
  &__link {
    display: block;
    padding: 5px 15px;
  }
}
.section {
  padding: 56px 0;

  @include smallScreenDown {
    padding: 30px 0;
  }
}

.icon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  line-height: 1;
  vertical-align: middle;
}

.services {
  border-top: 1px solid $light;
  padding-bottom: 0;
  &__item {
    position: relative;
    display: block;
    border: 1px solid $light;
    margin-bottom: 30px;
    @include gradient(45deg, $teal 5%, $green 95%);

    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-align: center;
    user-select: none;

    img {
      display: block;
      width: 100%;
      transition: 0.25s linear;
    }

    span {
      @extend .btn;
      @extend .btn-white-o;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    &:hover {
      img {
        opacity: 0.2;
      }
      span {
        opacity: 1;
      }
    }
  }
}

@keyframes sliderProgress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes energy {
  0% {
    transform: scale (1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.2, 0.8);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.clients {
  &__header {
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1;
    padding-bottom: 20px;
    margin: 0 0 30px;
    color: $black;
    text-align: center;

    &:after,
    &:before {
      content: '';
      display: block;
      height: 1px;
      background-color: currentColor;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    &:after {
      width: 100px;
      margin-top: -5px;
    }
    &:before {
      width: 180px;
    }
  }

  img {
    display: block;
    width: 100%;
    transition: 0.15s linear;

    &:hover {
      filter: grayscale(1);
    }
  }
}

.breadcrumbs {
  padding: 10px 0;

  .vmenu {
    display: block;
    font-size: 0;
    line-height: 20px;
    border-bottom: 1px solid rgba($light, 0.5);
    padding-bottom: 10px;

    &__item {
      font-size: 13px;
      color: $light;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      user-select: none;
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
      font-weight: 500;

      &:after {
        content: '';
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        width: 0.3em;
        height: 0.3em;
        border-top: 1px solid currentColor;
        border-right: 1px solid currentColor;
        transform: rotate(45deg);
        margin: 0 0.5em;
        margin-top: 2px;
      }

      a,
      span {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
      }

      .icon {
        margin-right: 0.25em;
        width: 1em;
        height: 1em;
      }

      a {
        color: $dark;
        text-decoration: none;

        &:hover {
          color: $teal;
        }
      }

      &.last:after {
        display: none;
      }
    }
  }
}

.form {
  &__input {
    padding-bottom: 15px;

    input,
    textarea {
      display: block;
      width: 100%;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 20px;
      padding: 5px 10px;
      border: 1px solid $light;
      outline: 0;
      resize: none;

      transition: 0.15s linear;

      &::-webkit-input-placeholder {
        color: $light;
      }
      &::-moz-placeholder {
        color: $light;
      }
      &:-ms-input-placeholder {
        color: $light;
      }
      &:-moz-placeholder {
        color: $light;
      }
    }

    &.error {
      input,
      textarea {
        border-color: $red;
        color: $red;

        &::-webkit-input-placeholder {
          color: $red;
        }
        &::-moz-placeholder {
          color: $red;
        }
        &:-ms-input-placeholder {
          color: $red;
        }
        &:-moz-placeholder {
          color: $red;
        }
      }
    }
    &.success {
      input,
      textarea {
        border-color: $green;
        color: $dark;
      }
    }

    input:focus,
    textarea:focus {
      border-color: $dark;
      &::-webkit-input-placeholder {
        color: $white;
      }
      &::-moz-placeholder {
        color: $white;
      }
      &:-ms-input-placeholder {
        color: $white;
      }
      &:-moz-placeholder {
        color: $white;
      }
    }

    input {
      height: 34px;
    }

    textarea {
      height: 160px;
    }
  }
}
