:root {
  //font-size: 14px;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $text;
  background-color: $background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 0.5rem;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
  font-weight: 500;
}
h6 {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  margin: 0 0 1rem 0;
}

hr {
  margin: 1rem 0;
  border: 0;
  height: 1px;
  background-color: $grey;
}
