@import './includes/variables';
@import './includes/mixins';
@import './includes/grid';
@import './includes/global';
@import './includes/buttons';

// Plugins Styles
@import './plugins/swiper';
@import './plugins/dropdown';
@import './plugins/tabs';
@import './plugins/slider';
@import './plugins/scrollbar';
@import './plugins/select';
@import './plugins/modal';

// COMPONENTS
@import './components/header';
@import './components/footer';
@import './components/homepage';
@import './components/catalog';
@import './components/contacts';
@import './components/partners';
