
<div class="mobile__filters">
  <button class="btn" data-toggle="filters">
    <svg class="icon">
      <use xlink:href="img/sprite.svg#icon-filters"></use>
    </svg><span>Показать Фильтры</span>
  </button>
</div>
<div class="catalog__filters">
  <div class="catalog__filters__categories">
    <h4><span>Категории</span></h4>
    <ul id="categories" role="tablist" aria-multiselectable="false">
      <li class="panel"><span class="tab" role="tab"><a class="parent current" href="#">Вентиляция</a><a class="collapsed" data-toggle="collapse" data-parent="#categories" href="#cat-id-1">
            <svg class="icon">
              <use xlink:href="img/sprite.svg#next"></use>
            </svg></a></span>
        <ul class="collapse" role="tabpanel" id="cat-id-1">
          <li><a href="">Child Category Name</a></li>
          <li><a class="current" href="">Child Category Name</a></li>
          <li><a href="">Child Category Name</a></li>
        </ul>
      </li>
      <li class="panel"><span class="tab" role="tab"><a class="parent" href="#">Кондиционеры</a><a class="collapsed" data-toggle="collapse" data-parent="#categories" href="#cat-id-2">
            <svg class="icon">
              <use xlink:href="img/sprite.svg#next"></use>
            </svg></a></span>
        <ul class="collapse" role="tabpanel" id="cat-id-2">
          <li><a href="">Child Category Name</a></li>
          <li><a href="">Child Category Name</a></li>
          <li><a href="">Child Category Name</a></li>
        </ul>
      </li>
      <li class="panel"><span class="tab" role="tab"><a class="parent" href="#">Отопление</a><a class="collapsed" data-toggle="collapse" data-parent="#categories" href="#cat-id-3">
            <svg class="icon">
              <use xlink:href="img/sprite.svg#next"></use>
            </svg></a></span>
        <ul class="collapse" role="tabpanel" id="cat-id-3">
          <li><a href="">Child Category Name</a></li>
          <li><a href="">Child Category Name</a></li>
          <li><a href="">Child Category Name</a></li>
        </ul>
      </li>
      <li class="panel"><span class="tab" role="tab"><a class="parent" href="#">Сплит системы</a><a class="collapsed" data-toggle="collapse" data-parent="#categories" href="#cat-id-4">
            <svg class="icon">
              <use xlink:href="img/sprite.svg#next"></use>
            </svg></a></span>
        <ul class="collapse" role="tabpanel" id="cat-id-4">
          <li><a href="">Child Category Name</a></li>
          <li><a href="">Child Category Name</a></li>
          <li><a href="">Child Category Name</a></li>
        </ul>
      </li>
      <li class="panel"><span class="tab" role="tab"><a class="parent" href="#">Монтажные элементы</a><a class="collapsed" data-toggle="collapse" data-parent="#categories" href="#cat-id-5">
            <svg class="icon">
              <use xlink:href="img/sprite.svg#next"></use>
            </svg></a></span>
        <ul class="collapse" role="tabpanel" id="cat-id-5">
          <li><a href="">Child Category Name</a></li>
          <li><a href="">Child Category Name</a></li>
          <li><a href="">Child Category Name</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="catalog__filters__price">
    <h4><span>цена mdl</span></h4>
    <form class="form price__filter">
      <div class="form__group">
        <div class="form__input">
          <input class="price__filter__min" type="tel" name="price__min"/>
        </div>
        <div class="form__group__sep">-</div>
        <div class="form__input">
          <input class="price__filter__max" type="tel" name="price__max"/>
        </div>
      </div>
      <div class="price__filter__range"></div>
      <button class="btn" type="submit">применить</button>
    </form>
  </div>
  <div class="catalog__filters__brands">
    <h4><span>бренды</span></h4>
    <div class="brands__list">
      <div class="brands__list__wraper" data-simplebar="data-simplebar">
        <ul>
          <li><a href=""><span>Aerostar</span><small>(341)</small></a></li>
          <li><a class="current" href=""><span>Bahcivan</span><small>(91)</small></a></li>
          <li><a class="current" href=""><span>Ballu</span><small>(33)</small></a></li>
          <li><a href=""><span>BLAUBERG</span><small>(147)</small></a></li>
          <li><a href=""><span>Colibri</span><small>(56)</small></a></li>
          <li><a href=""><span>Danfoss</span><small>(2)</small></a></li>
          <li><a href=""><span>Dospel</span><small>(173)</small></a></li>
          <li><a href=""><span>Duka</span><small>(10)</small></a></li>
          <li><a href=""><span>Dundar</span><small>(44)</small></a></li>
          <li><a href=""><span>Electrolux</span><small>(108)</small></a></li>
          <li><a href=""><span>EMMECOM</span><small>(56)</small></a></li>
          <li><a href=""><span>Flowair</span><small>(37)</small></a></li>
          <li><a href=""><span>Frico</span><small>(297)</small></a></li>
          <li><a href=""><span>Gree</span><small>(7)</small></a></li>
          <li><a href=""><span>Helios</span><small>(16)</small></a></li>
          <li><a href=""><span>Konung</span><small>(13)</small></a></li>
          <li><a href=""><span>Master</span><small>(63)</small></a></li>
          <li><a href=""><span>Mitsubishi Electric</span><small>(15)</small></a></li>
          <li><a href=""><span>Neoclima</span><small>(96)</small></a></li>
          <li><a href=""><span>O.ERRE</span><small>(59)</small></a></li>
          <li><a href=""><span>Ostberg</span><small>(38)</small></a></li>
          <li><a href=""><span>Rosenberg</span><small>(307)</small></a></li>
          <li><a href=""><span>Ruck</span><small>(254)</small></a></li>
          <li><a href=""><span>Salda</span><small>(17)</small></a></li>
          <li><a href=""><span>Sentera Controls</span><small>(1)</small></a></li>
          <li><a href=""><span>Soler & Palau</span><small>(350)</small></a></li>
          <li><a href=""><span>Sunon</span><small>(58)</small></a></li>
          <li><a href=""><span>Systemair</span><small>(157)</small></a></li>
          <li><a href=""><span>Thermoscreens</span><small>(11)</small></a></li>
          <li><a href=""><span>Turbovent</span><small>(95)</small></a></li>
          <li><a href=""><span>Vortice</span><small>(142)</small></a></li>
          <li><a href=""><span>VTS</span><small>(56)</small></a></li>
          <li><a href=""><span>Weiguang</span><small>(49)</small></a></li>
          <li><a href=""><span>Вентиляторы Украина</span><small>(460)</small></a></li>
          <li><a href=""><span>ВЕНТС (VENTS)</span><small>(4014)</small></a></li>
          <li><a href=""><span>Домовент</span><small>(140)</small></a></li>
          <li><a href=""><span>Тепломаш</span><small>(269)</small></a></li>
          <li><a href=""><span>Термия</span><small>(17)</small></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>