.section.home__portfolio
  .container
    h2.home__portfolio__header: span Наши проекты
    .row
      .col.sm-4
        a.home__portfolio__item(href="")
          span.item__image: img(src="http://placeimg.com/640/360/any/1", alt="")
          span Название проекта или краткое описание
      .col.sm-4
        a.home__portfolio__item(href="")
          span.item__image: img(src="http://placeimg.com/640/360/any/2", alt="")
          span Название проекта или краткое описание
      .col.sm-4
        a.home__portfolio__item(href="")
          span.item__image: img(src="http://placeimg.com/640/360/any/3", alt="")
          span Название проекта или краткое описание
    a.btn.btn-white-o(href="#") смотреть еще
